/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  color: #353430;

  .header {
    background-image: url(../images/cover-image-light.png);
    background-size: cover;
  }

  .header__title {
    color: #ffc2e6;
  }

  .header__text {
    color: #353430;
    background-color: #ff8dcb;
  }

  .header::before,
  .header::after {
    color: #353430;
  }

  .header__theme-menu-button_type_light {
    /*?*/
    border: 1px solid #353430;
  }

  .header__theme-menu-button_type_dark {
    &:hover {
      border: 1px solid #353430;
    }

    &:focus {
      border: none;
      text-decoration: underline;
      text-decoration-color: #353430;
      text-decoration-thickness: 1px;
      text-underline-position: under;
    }
  }

  .header__rec,
  .header__rec-circle {
    display: none;
  }

  .main {
    background-color: #fff;
  }

  .section__paragraph {
    color: #353430;
  }

  .section__title {
    color: #353430;
  }

  .section__title-text,
  .section__title-text-mini {
    color: #353430;
    background-color: #ff8dcb;
  }

  .footer {
    background-color: #fff;
  }

  footer::before {
    border: solid #353430;
    border-width: 1px 1px 0 0;
  }

  footer::after {
    border: solid #353430;
    border-width: 0 0 1px 1px;
  }

  .footer__title {
    color: #ffc2e6;
  }
}
